.trekking{
    display: flex;
    .trekkingContainer{
        flex: 6;
        .form{

            box-shadow: 5px 15px 14px -11px rgba(179,175,175,0.73);
            -webkit-box-shadow: 5px 15px 14px -11px rgba(179,175,175,0.73);
            -moz-box-shadow: 5px 15px 14px -11px rgba(179,175,175,0.73);
            border-radius: 5px;
            border: 0.5px solid rgb(196, 195, 195);
            padding: 20px;
            margin: 20px;
            .title{
                width: fit-content;
                display: flex;
                align-items: center;
                border-bottom: 1px dotted black;
                font-size: 25px;
                font-weight: 600;
                .icon{
                    margin-right: 6px;
                    width: 30px;
                  border-radius: 5px;
                }
            }
         
        }
    }

}